{% extends 'base.html.twig' %}

{% block title %}
  Digi Tools - Registreer
{% endblock title %}

{% block content %}

  {% set app = globals.app %}

  <section id="registration">
    <div class="container form">
      <h1>Registreer</h1>
      <p>Registreer hier voor volledige functionaliteit.</p>

      <form action="{{ app.urlFor('user_register_process') }}" method="POST" novalidate>
        <input class="form-control" type="text" id="username" name="gebruikersnaam" placeholder="Gebruikersnaam" value="{% if app.request.isPost() %}{{app.request.post('gebruikersnaam')}}{% endif %}" />
        <input class="form-control" type="email" id="email" name="e-mail" placeholder="E-mail adres" value="{% if app.request.isPost() %}{{app.request.post('e-mail')}}{% endif %}"/>
        <input class="form-control" type="password" id="wachtwoord" name="wachtwoord" placeholder="Wachtwoord" />
        <input class="form-control" type="password" id="password_repeat" name="herhaal_wachtwoord" placeholder="Herhaal achtwoord" />
        <input class="form-control" type="text" id="first_name" name="voornaam" placeholder="Voornaam" value="{% if app.request.isPost() %}{{app.request.post('voornaam')}}{% endif %}" />
        <input class="form-control" type="text" id="surname" name="naam" placeholder="Naam" value="{% if app.request.isPost() %}{{app.request.post('naam')}}{% endif %}"/>

        <select class="form-control" id="postcode" name="postcode">
          {% for pc in postcodes %}
            <option value="{{ pc.id }}">{{ pc.postcode }} - {{ pc.town }}</option>
          {% endfor %}
        </select>
        <input class="form-control" type="text" id="adres" name="adres" placeholder="Adres" value="{% if app.request.isPost() %}{{app.request.post('adres')}}{% endif %}" />        

        <div class="form-group spacing">
          <ul>
            <li><input class="form-control btn submit" type="submit" id="verzend" name="register" value="Registreer" /></li>
            <li><a href="/" id="return_to_main" class="form-control btn submit">Home</a></li>
          </ul>
        </div>

      </form>
    </div>
  </section>
{% endblock content %}