{% extends 'base_with_right_sidebar.html.twig' %}

{% set app = globals.app %}

{% block title %}
  Digi Tools - Toon mijn profiel
{% endblock title %}

{% block main_column %}  
  <div class="form" id="registration">
    <h1>Mijn Profiel</h1>
    <form action="{{ app.urlFor('profile_edit') }}" method="post">
      <div class="form-group">
        <label for="username">Gebruikersnaam</label>
        <input class="form-control" type="text" id="username" name="username" value="{{ user.username }}" readonly />
      </div>
      
      <div class="form-group">
        <label for="email">E-mail adres</label> 
        <input class="form-control" type="email" id="email" name="email" value="{{ user.email }}" readonly/>
      </div>

      <div class="form-group">
        <label for="first_name">Voornaam</label>
        <input class="form-control" type="text" id="first_name" name="first_name" value="{{ user.firstName }}" readonly />
      </div>
      <div class="form-group">
        <label for="surname">Naam</label>
        <input class="form-control" type="text" id="surname" name="surname" value="{{ user.surname }}" readonly/>
      </div>

      <div class="form-group">
        <label for="postcode">Postcode</label>
        <input class="form-control" type="text" id="postcode" name="postcode" value="{{ user.postcode.postcode }}" readonly />
      </div>
      <div class="form-group">
        <label for="adres">Adres</label>
        <input class="form-control" type="text" id="adres" name="adres" value="{{ user.address }}" readonly />
      </div>

      <div class="form-group spacing">
        <ul>
          <li><input class="form-control btn submit" type="submit" id="wijzig" name="edit" value="Editeer profiel" /></li>
          <li><a href="/" id="return_to_main" class="form-control btn">Home</a></li>
        </ul>
      </div>
    </form>      
  </div>
{% endblock main_column %}

{% block sidebar %}      
  <nav id="reg-menu">
    <ul class="nav nav-tabs">
        {% set user = globals.user %}
        {% if user.isAdmin() %}
        <li> <a href="{{ app.urlFor('admin_list_profiles') }}">Profielen</a> </li>
        {% endif %}
      <li><a href="{{ app.urlFor('user_logoff') }}">Afmelden</a></li>
    </ul>
  </nav>       
{% endblock sidebar %}