{% extends 'base_with_bottom_menu.html.twig' %}

{% block title %}Digi Tools - ESL{% endblock title %}

{% block main_column %}
  <section id="users_list">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Admin</th>
          <th>Enabled</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        {% for usr in users_list %}
          {% set app = globals.app %}
          <tr>
            <td >{{ usr.username }}</td>
            <td> 
              <input class="check-admin" {% if globals.user.username == usr.username %} disabled {% endif %} type="checkbox" data-user-id="{{ usr.id }}" {{ usr.isAdmin() == 1 ? "checked='checked'" }} /> 
            </td>
            <td> 
              <input class="check-enabled" {% if globals.user.username == usr.username %} disabled {% endif %} type="checkbox" data-user-id="{{ usr.id }}" {{ usr.isEnabled() == 1 ? "checked='checked'" }} /> 
            </td>
            <td> 
              <a href="{{ app.urlFor('admin_profile_view', {'id': usr.id}) }}" class="action-button"> Wijzig </a> 
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </section>
{% endblock main_column %}