{% set app = globals.app %}
  
  {% if globals.user is not defined or globals.user is null %}
    {# user NIET aangemeld #}
    <nav id="reg-menu">
      <ul class="nav nav-tabs reg-menu-items">
        <li>
          {% block login %}
            {% include 'Profile/logon.html.twig' %}
          {% endblock login %}
        </li>
        <li><a href="{{ app.urlFor('user_register') }}">Registreer</a></li>
        <li><a href="{{ app.urlFor('password_reset_request') }}">Wachtwoord vergeten</a></li>
      </ul>
    </nav>
    {% else %}
    {# user aangemeld #}
    <nav id="reg-menu">
      <ul class="nav nav-tabs">
        <li><a href="{{ app.urlFor('profile_show') }}">Mijn Profiel</a></li>
        {% set user = globals.user %}
        {% if user.isAdmin() %}
          <li> <a href="{{ app.urlFor('admin_list_profiles') }}">Profielen</a> </li>
        {% endif %}
        <li><a href="{{ app.urlFor('user_logoff') }}">Afmelden</a></li>
      </ul>
    </nav>
  {% endif %}