{% set app = globals.app %}

{# IN ORDER TO ADD A NEW MENU ITEM #}
<div class="container cf">  
  <nav id="topmenu" class="">
    <ul class="nav nav-tabs">      

      {# ADD PATH COMPARISON #}
      {% set is_main_page = app.request.getPath == app.urlFor('main_page') %}
      {% set is_todo_home = app.request.getPath == app.urlFor('todo_home') %}
      {% set is_log_new = app.request.getPath == app.urlFor('log_new') %}
      {% set is_tags_manage = app.request.getPath == app.urlFor('tags_manage') %}
      {% set is_admin_logs_manage = app.request.getPath == app.urlFor('admin_logs_manage') %}

      {# ADD THE HTML LI IF ITEM POINTS TO CURRENT PAGE #}
      <li {% if is_main_page %} class="current_page" {% endif %}>
        <a href="{{ app.urlFor('main_page') }}">Home</a>
      </li>
      <li {% if is_todo_home %} class="current_page" {% endif %}>
        <a href="{{ app.urlFor('todo_home') }}">Todo</a>
      </li>      
      {% if (globals.logged_in ) %}
        <li {% if is_log_new %} class="current_page" {% endif %}>
          <a href="{{ app.urlFor('log_new') }}">Logs</a>
        </li>      
      {% endif %}
      {% if (globals.user.isAdmin == 1)  %}
        <li {% if is_tags_manage %} class="current_page" {% endif %}>
          <a href="{{ app.urlFor('tags_manage') }}">Tags</a>
        </li>
      {% endif %}
    </ul>

    {# FOR ADMIN EYES ONLY #}
    {% if (globals.user.isAdmin == 1)  %}
      {% if is_log_new %}
        <ul class="nav nav-tabs nav-lvl-2">
          <li><a href="{{ app.urlFor('admin_logs_manage') }}">Manage</a></li>
        </ul>
      {% elseif is_admin_logs_manage %}
        <ul class="nav nav-tabs nav-lvl-2">
          <li class="current_page"><a href="{{ app.urlFor('admin_logs_manage') }}">Manage</a></li>
        </ul>
      {% endif %}

    {% endif %}

  </nav>
</div>