{% set app = globals.app %}

{# IN ORDER TO ADD A NEW MENU ITEM #}
<div class="container cf">  
  <nav id="topmenu" class="">
    <ul class="nav nav-tabs">      

      {# ADD PATH COMPARISON #}
      {% set is_main_page = app.request.getPath == app.urlFor('main_page') %}
      {% set is_todo_home = app.request.getPath == app.urlFor('todo_home') %}
      {% set is_log_new = app.request.getPath == app.urlFor('log_new') %}
      {% set is_tags_manage = app.request.getPath == app.urlFor('tags_manage') %}
      {% set is_admin_logs_manage = app.request.getPath == app.urlFor('admin_logs_manage') %}
      {% set is_todo_new = app.request.getPath == app.urlFor('todo_new') %}
      {% set is_todos_unfinished = app.request.getPath == app.urlFor('todos_unfinished') %}
      {% set is_todo_path = app.urlFor('todo_home') in app.request.getPath %}

      {# ADD THE HTML LI IF ITEM POINTS TO CURRENT PAGE #}
      <li {% if is_main_page %} class="current_page" {% endif %}>
        <a href="{{ app.urlFor('main_page') }}">Home</a>
      </li>
      {% if (globals.logged_in ) %}
        <li {% if is_todo_home or is_todo_new or is_todos_unfinished %} class="current_page" {% endif %}>
          <a href="{{ app.urlFor('todo_home') }}">Todo&rsquo;s</a>
        </li>      
        <li {% if is_log_new or is_admin_logs_manage %} class="current_page" {% endif %}>
          <a href="{{ app.urlFor('log_new') }}">Logs</a>
        </li>      
      {% endif %}
      {% if (globals.user.isAdmin == 1)  %}
        <li {% if is_tags_manage %} class="current_page" {% endif %}>
          <a href="{{ app.urlFor('tags_manage') }}">Tags</a>
        </li>
      {% endif %}
    </ul>

    {# LOGGED ON SECOND LEVEL MENU #}
    {% if (globals.logged_in) %}
      {% if (is_todo_path) %}
        <ul class="nav nav-tabs nav-lvl-2">
          <li {% if is_todo_new %} class="current_page" {% endif %}><a href="{{ app.urlFor('todo_new') }}">Nieuwe</a></li>
          <li {% if is_todos_unfinished %} class="current_page" {% endif %}><a href="{{ app.urlFor('todos_unfinished') }}">Onvoltooide</a></li>
        </ul>         
      {% endif %}
    {% endif %}

    {# FOR ADMIN EYES ONLY #}

    {% if (globals.user.isAdmin == 1)  %}
      {% if is_log_new %}
        <ul class="nav nav-tabs nav-lvl-2">
          <li><a href="{{ app.urlFor('admin_logs_manage') }}">Manage</a></li>
        </ul>
      {% elseif is_admin_logs_manage %}
        <ul class="nav nav-tabs nav-lvl-2">
          <li class="current_page"><a href="{{ app.urlFor('admin_logs_manage') }}">Manage</a></li>
        </ul>
      {% endif %}

    {% endif %}

  </nav>
</div>