{% extends 'homepage.html.twig' %}

{% block title %} Digi Tools - ESL - Wijzig klantgegevens {% endblock title %}

{% block main_column %}
  {% set app = globals.app %}
  <section id="registration">
    <div class="form">
      <h1>Nieuwe klant</h1>
      <form action="{{ app.urlFor('esl_sheet_new_store') }}" method="POST" novalidate>
        <input class="form-control" type="text" name="winkelnaam" placeholder="Naam klant" value="{{ store.storename }}">
        <input class="form-control" type="text" name="synergie" placeholder="Klantnummer in Synergy" value="{{ store.synergie }}">
        <input class="form-control" type="text" name="ip" placeholder="IP adres" value="{{ store.ip }}">
        <textarea class="form-control" name="softwareversie" placeholder="Software versies" value="{{ store.softwareversion }}"></textarea>
        <textarea class="form-control" name="contact" placeholder="Contactgegevens" value="{{ store.contact }}"></textarea>
        <input class="form-control" type="text" name="e-mail" placeholder="E-mail adres" value="{{ store.email }}">
        <input class="form-control" type="text" name="picurl" placeholder="Lokatie van map met afbeeldingen" value="{{ store.picurl }}">

        <div class="form-group">
          <label for="e-mail">Groep</label>
          <select class="form-control" name="storegroup">
            {% for group in data.storegroups %}
              <option value="{{ group.id }}" {% if app.request.isPost() and app.request.post('storegroup') == group.id %} selected {% endif %}>{{ group.groupname }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label for="e-mail">Postcode</label>
          <select class="form-control" name="postcode">
            {% for pc in data.postcodes %}
              <option value="{{ pc.id }}" {% if app.request.isPost() and app.request.post('postcode') == pc.id %} selected {% endif %} >{{ pc.town }} - {{ pc.postcode }}</option>
            {% endfor %}
          </select>
        </div>
          
        <div class="form-group">
          <label for="e-mail">Contract</label>
          <select class="form-control" name="contract">
            {% for contract in data.contracts %}
              <option value="{{ contract.id }}" {% if app.request.isPost() and app.request.post('contract') == contract.id %} selected {% endif %}>{{ contract.company }}</option>
            {% endfor %}
          </select>
        </div>
          
        <div class="form-group">
          <label for="e-mail">Contracttype</label>
          <select class="form-control" name="contracttype">
            {% for ct in data.contracttypes %}
              <option value="{{ ct.id }}" {% if app.request.isPost() and app.request.post('contracttype') == ct.id %} selected {% endif %}>{{ ct.typename }}</option>
            {% endfor %}
          </select>
        </div>
          
        <div class="form-group">
          <label for="e-mail">Backoffice</label>
          <select class="form-control" name="backoffice">
            {% for bo in data.backoffices %}
              <option value="{{ bo.id }}" {% if app.request.isPost() and app.request.post('backoffice') == bo.id %} selected {% endif %}>{{ bo.backofficename }}</option>
            {% endfor %}
          </select>
        </div>        

        <div class="form-group">
          <ul>            
            <li><input class="form-control btn submit" type="submit" id="verzend" name="register" value="Maak" /></li>
            <li><a href="/" id="return_to_main" class="form-control btn submit">Home</a></li>
          </ul>
        </div>
          
      </form>
    </div>
  </section>
{% endblock main_column %}