{% extends 'base_with_bottom_menu.html.twig' %}

{% block title %} Digi Tools - ESL - Toon klanten {% endblock title %}

{% block extracss %}
  <link rel="stylesheet" href="/plugins/DataTables/datatables.css"/>
{% endblock extracss %}

{% block main_column %}
  {% set app = globals.app %}
  <section id="listing">
    <h1>Overzicht klanten</h1>
    <table class="dataTable table-no-borders">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Winkel</th>
          <th>Plaats</th>
          <th>Postcode</th>
          <th>Synergie #</th>
          <th>IP</th>
        </tr>
      </thead>
      <tbody>
        {% for store in stores %}          
          <tr>
            <td><a href="{{ app.urlFor('esl_sheet_edit_store', {"id":store.id}) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
            <td><a href="{{ app.urlFor('esl_sheet_show_store', {"id":store.id}) }}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
            <td>{{ store.storename }}</td>
            <td>{{ store.postcode.town }}</td>
            <td>{{ store.postcode.postcode }}</td>
            <td>{{ store.synergie }}</td>
            <td>{{ store.ip }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock main_column %}

{% block extrajs %}   
  <script src="/plugins/DataTables/datatables.js"></script>
{% endblock extrajs %}