{% extends 'base_with_bottom_menu.html.twig' %}

{% block title %} Todo - Show all {% endblock title %}

{% block extracss %}
  <link rel="stylesheet" href="../css/jquery.dataTables.min.css" type="text/css"/>
{% endblock extracss %}

{% block main_column %}
  {% set app = globals.app %}
  <section id="listing">

    <h1>Show items</h1>
    {% if (items is not null and items|length > 0) %}
      <table class="table dataTable table-striped">
        <thead>
          <tr>
            <th>Titel</th> 
            <th>Aanmaakdatum</th>
            <th>Limietdatum</th>
            <th>Prioriteit</th>
            <th>Klaar</th>
          </tr>
        </thead>
        <tbody>        
          {% for item in items %}
            <tr>
              <td>{{ item.title }}</td>
              <td>{{ item.creationdate }}</td>
              <td>{{ item.tododate }}</td>
              <td>{{ item.priority }}</td>
              <td><input class="finishstate" data-todo-id={{ item.id }} name="finishstate" type="checkbox" {% if item.finishstate == 1 %} checked="checked" {% endif %}></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Er zijn geen onvoltooide items</p>
    {% endif %}


  </section>
{% endblock main_column %}

{% block extrajs %}
  <script src="../js/jquery.dataTables.min.js"></script>
  <script src="../js/todo.js"></script>
{% endblock extrajs %}